/*html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}*/
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* This will push the footer down */
}