.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: auto;
    column-gap: 111px;}
#container_buttons{
    background-color:#49BBBD ;
    opacity: 100%;
    width: fit-content;
    border-radius: 10px;
}
button{
    padding: 0;
    border-radius: 10px;
    background-color: #49BBBD;
    border :none;
    opacity: 100%;
    width: 161.2px;
    height: 45.2px;
}
.tr{
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 20px;
    width : 500px;
    border-color: #49BBBD;
}
